<ion-header class="ion-no-border">
  <div class="ds44-flex-container ds44-flex-valign-center ds44-m1">
    <div class="ds44-flex ds44-fg1 ds44-flex-valign-center">

      <button class="ds44-btnIco ds44-btnIco--carre ds44-bgDark ds44-mr1" (click)="changeQuai()">
        <i class="icon icon-invert" aria-hidden="true"></i>
        <span class="visually-hidden">Changer le sens de la traversée</span>
      </button>

      <h1 class="h3-like ds44-flex-container--column ds44-fg1 ds44-noMrg">
        <span class="ds44-app-titreTraversee_haut">{{direction.from.name}}</span>
        <span class="ds44-app-titreTraversee_bas">{{direction.to.name}}</span>
      </h1>

      <app-back-button></app-back-button>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-tabs slot="fixed">
    <ion-tab-bar slot="top">
      <ion-tab-button tab="perturbation">
        <i class="icon icon-attention"></i>
      </ion-tab-button>
      <ion-tab-button tab="horaire">
        <i class="icon icon-time"></i>
      </ion-tab-button>
      <ion-tab-button tab="camera">
        <i class="icon icon-webcam"></i>
      </ion-tab-button>
      <ion-tab-button tab="localisation">
        <i class="icon icon-marker"></i>
      </ion-tab-button>
      <ion-tab-button tab="bus">
        <i class="icon icon-bus"></i>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>