<ion-header>
  <ion-toolbar>
    <ion-title>Liaison</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="pertubation">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>pertubation</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="horaire">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>horaire</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="camera">
        <ion-icon name="map"></ion-icon>
        <ion-label>camera</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="localisation">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>localisation</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bus">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>bus</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
