<ion-header>
  <div class="ds44-flex-container ds44-flex-valign-center ds44-m1">
    <div class="ds44-flex ds44-fg1 ds44-flex-valign-center">

      <button class="ds44-btnIco ds44-btnIco--carre ds44-bgDark ds44-mr1" (click)="changeQuai()">
        <i class="icon icon-invert" aria-hidden="true"></i>
        <span class="visually-hidden">Changer le sens de la traversée</span>
      </button>

      <h1 class="h3-like ds44-flex-container--column ds44-fg1 ds44-noMrg">
        <span class="ds44-app-titreTraversee_haut">{{startPoint}}</span>
        <span class="ds44-app-titreTraversee_bas">{{endPoint}}</span>
      </h1>

      <app-back-button></app-back-button>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="perturbation">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="horaire">
        <ion-icon name="time-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="camera">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="localisation">
        <ion-icon name="map-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="bus">
        <ion-icon name="bus-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>