:host {
  ion-menu {
    --width: 100vw;
    --max-width: none;

    ion-content {
      width: 100%;
      padding-top: env(safe-area-inset-top);
    }

    #menu {
      flex-grow: 1;
      box-sizing: border-box;
    }
  }
}
